{% extends 'front/page-front.html.twig' %}

{% block title %} Peymynt - Accounting {% endblock %}
{% block body %}



    <main class="position-relative overflow-hidden">
        <header class="page header color-1 overlay alpha-8 image-background cover gradient gradient-43" style="background-image: url('{{ asset('assets/img/bg/waves.jpg') }}')">
            <div class="divider-shape">
                <!-- waves divider -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" class="shape-waves" style="left: 0; transform: rotate3d(0,1,0,180deg);">
                    <path class="shape-fill shape-fill-1" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
                </svg>
            </div>
            <div class="container" style="">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="regular display-4 color-1 mb-4">ACCOUNTING</h1>
                        <p class="lead color-1">Powerful, free accounting software</p>
                        <p class="lead color-1">Connect your bank accounts, sync your expenses, balance your books, and be ready for tax time.</p>
                    </div>
                </div>
            </div>
        </header>

        <div class="container d-none d-md-block">


            <div class="page-subnavigation py-4 border-bottom padding-top-30 padding-bottom-20">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#subnavigation-393"> Overview </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#subnavigation-394"> Features list </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#subnavigation-395"> Helpful resources </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#subnavigation-397"> FAQs </a>

                    </li>
                </ul>





            </div>
        </div>
        <section>
            <div class="container">
                <div class="section-heading text-center">
                    <h2 class="mb-2">Accounting software that works as hard as you do</h2>
                    <p class="lead color-2">
                    <div class="row justify-content-md-center">
                        <div class="col-sm-12 col-md-auto mb-1 mb-md-0 text-center"> <i class="icon-material-outline-check"></i> Simple, reliable, and secure </div>
                        <div class="col-sm-12 col-md-auto mb-1 mb-md-0 text-center"> <i class="icon-material-outline-check"></i> Easily manage cash flow </div>
                        <div class="col-sm-12 col-md-auto mb-1 mb-md-0 text-center"> <i class="icon-material-outline-check"></i> Access online any time </div>
                    </div>
                    <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/invoices_showcase.jpg" width="993" alt="Our invoice templates" title="Our invoice templates">
                    </p>
                </div>
            </div>
        </section>

        <div class="module-type-contentGrid  " id="contentGrid-384">
            <div class="">
                <div class="module  container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center  module__header">
                            <h2>Organized and stress-free</h2>
                            <p>peymynt makes accounting as simple as possible.</p>
                        </div>
                    </div>
                    <div class="row align-items-center ">
                        <div class="col-md-6 px-lg-5">
                            <h3>Keep track of your business health</h3>
                            <p>Have an eye on the big picture so you can make better business decisions. Our robust reports are easy to use and show month-to-month or year-to-year comparisons so you can easily identify cash flow trends. </p>
                            <h3>Make tax time a breeze</h3>
                            <p>When everything is neatly where it belongs, tax time is simple. peymynt’s smart dashboard organizes your income, expenses, payments, and invoices.</p>
                            <h3>Collaborate with ease</h3>
                            <p>Invite the people you trust—including business partners, assistants, and accounting professionals—to collaborate with you on your business. You control the access.</p>
                        </div>
                        <div class="col-md-6 px-lg-5 order-first text-center">
                            <div class="mb-5 image-container" data-mh="image" style=""> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/accounting_M_organized_data.jpg" width="534" alt="Organize with our accounting software" title="Organize with our accounting software"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-type-contentGrid  " id="contentGrid-386">
            <div class="">
                <div class="module  container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center  module__header">
                            <h2>Easy and intuitive</h2>
                            <p>We designed peymynt for small business owners. No jargon, just easy software that makes sense.</p>
                        </div>
                    </div>
                    <div class="row align-items-center ">
                        <div class="col-md-6 px-lg-5">
                            <h3>Get started in seconds</h3>
                            <p>After creating your account, everything's set up so you can get started right away. Access it anywhere, any time. Your data is always available, and it’s backed up for extra peace of mind.</p>
                            <h3>Automatic reports</h3>
                            <p>Get all the reports you need to run your business better: profit &amp; loss statements, sales tax reports, balance sheets, and more.</p>
                            <h3>Accountant-friendly software</h3>
                            <p>peymynt uses real, double-entry accounting, to save time for your accountant and help them do their job best.</p>
                        </div>
                        <div class="col-md-6 px-lg-5 order-first order-md-1 text-center">
                            <div class="mb-5 image-container" data-mh="image" style=""> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/accounting_M_easy.png" width="572" alt="Track and organize all your transactions in one place." title="Track and organize all your transactions in one place."> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-type-testimonial  " id="testimonial-388">
            <div class="module module__testimonial container">
                <div class="row text-lg-left justify-content-center align-items-center">
                    <div class="col-lg-3">
                        <div class="image-container pb-2 pb-md-0"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/testimonials/testimonial-julienne_desjardins_2x.jpg" width="313" alt="Julienne Desjardins" title="Julienne Desjardins"> </div>
                    </div>
                    <div class="col-lg-8">
                        <h2 class="h3"><i>"My fav tool for invoicing &amp; accounting is peymynt. Totally free. Easy-to-use. And I love the interface. Check it out!"</i></h2>
                        <div> <small>Julienne Desjardins, Digital Marketer</small></div>
                    </div>
                </div>
            </div>
        </div>




        <div class="container">

            <div class="accordion js-accordion">

                <!-- Accordion Item -->
                <div class="accordion__item js-accordion-item active">
                    <div class="accordion-header js-accordion-header">See all accounting features</div>

                    <!-- Accordtion Body -->
                    <div class="accordion-body js-accordion-body" style="display: none;">

                        <!-- Accordion Content -->
                        <div class="accordion-body__contents">
                            <div class="row">
                            <div class="col-sm-12 col-lg-6 col-xl-6 pb-4 px-0">
                                <ul class="list-2">
                                    <li>Fast setup with no training required!</li>
                                    <li>Unlimited bank and credit card connections</li>
                                    <li>Unlimited income and expense tracking</li>
                                    <li>Connect to PayPal, Shoeboxed, and Etsy</li>
                                    <li>Instant updates for your <a href="/invoicing">invoicing</a>, <a href="/payroll">payroll</a>, and <a href="/payments">payments</a> data</li>
                                    <li>Unlimited customizable <a href="/invoicing">invoicing</a> and <a href="/receipts">receipt scanning</a></li>
                                    <li>Bill and invoice reminders</li>
                                    <li>Dashboards (cash balances and invoice status)</li>
                                    <li>Exportable accounting reports: profit/loss, sales tax, cash flow, comparative, and more</li>
                                    <li>Bulk transaction updates for quicker bookkeeping</li>

                                </ul>
                            </div>
                            <div class="col-sm-12 col-lg-6 col-xl-6 pb-4 px-0">
                                <ul class="list-2">


                                    <li>Customizable sales taxes</li>
                                    <li>Journal transactions</li>
                                    <li>Accept payments in a foreign currency</li>
                                    <li>Automatic exchange rate calculations</li>
                                    <li>Customizable expense/income categories (chart of accounts) with Account IDs</li>
                                    <li>Automatic payment transaction reconciliation for <a href="/payments/">Payments by Peymynt</a> users</li>
                                    <li>Search transaction descriptions </li>
                                    <li>Accountant approved: real double-entry software</li>
                                    <li>Run multiple businesses in one account</li>
                                </ul>
                            </div>
                            </div>
                        </div>



                    </div>
                    <!-- Accordion Body / End -->
                </div>

                <!-- Accordion Item / End -->
                <!-- Accordion Item -->
                <div class="accordion__item js-accordion-item ">
                    <div class="accordion-header js-accordion-header">Helpful resources</div>

                    <!-- Accordtion Body -->
                    <div class="accordion-body js-accordion-body" style="display: block;">

                        <!-- Accordion Content -->
                        <div class="accordion-body__contents">
                            <div id="collapsible-content-396" class="collapse" aria-labelledby="collapsible-content-396" style="">
                                <div class="module container" style="">
                                    <div class="row  mr-1 mr-md-4" style="">
                                        <div class="col-md-4  position-relative mb-4" style="">
                                            <div class="mb-3 image-container" data-mh="image" style=""> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/blog/fearless-accounting-guide_2x.jpg" width="100%" alt="Fearless Accounting Guide" title="Fearless Accounting Guide"> </div>
                                            <h2 data-mh="headline" class="padding-top-20 padding-bottom-20">Empower yourself with our Fearless Accounting Guide</h2>
                                            <div data-mh="description" style="">Accounting doesn’t have to be scary. Our guide has pages of easy-to-follow tips and lessons to help you run your business with confidence.</div>
                                        </div>
                                        <div class="col-md-4  position-relative mb-4" style="">
                                            <div class="mb-3 image-container" data-mh="image" style=""> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/blog/five-tips-to-get-your-books-in-order.jpg" width="100%" alt="Five Tips To Get Your Books In Order" title="Five Tips To Get Your Books In Order"> </div>
                                            <h2 data-mh="headline" class="padding-top-20 padding-bottom-20">Five tips to get your books under control fast</h2>
                                            <div data-mh="description" style="">Lower your stress, build your confidence, and set yourself up for tax time with these five tips.</div>
                                        </div>
                                        <div class="col-md-4  position-relative mb-4" style="">
                                            <div class="mb-3 image-container" data-mh="image" style=""> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/blog/video-bookkeeping-doesnt-have-to-be-scary_2x.jpg" width="100%" alt="Abstract graphics for finance" title="Abstract graphics for finance"> </div>
                                            <h2 data-mh="headline" class="padding-top-20 padding-bottom-20">Video: Bookkeeping doesn’t have to be scary</h2>
                                            <div data-mh="description" style="">Manage your books, track income and expenses, and get paid all in one place with peymynt.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Accordion Body / End -->
                </div>
                <!-- Accordion Item / End -->

                <!-- Accordion Item -->
                <div class="accordion__item js-accordion-item">
                    <div class="accordion-header js-accordion-header">Frequently asked questions</div>

                    <!-- Accordtion Body -->
                    <div class="accordion-body js-accordion-body" style="display: none;">

                        <!-- Accordion Content -->
                        <div class="accordion-body__contents">
                            <div class="col-sm-12 pb-4 px-0">
                                <ul class="list-2">
                                    <li class=" my-2">
                                        <h5 class="pb-1">Is your software actually free?</h5>
                                        <p>Yes really, no tricks! Our software is 100% free, no trials, no limitations, and no hidden fees. Use it as much as you want, for as long as you want, and we won’t charge a cent. Our free software includes invoicing, accounting, and receipt scanning.</p>
                                    </li>
                                    <li class=" my-2">
                                        <h5 class="pb-1">Is my data safe?</h5>
                                        <p>Completely safe. Our servers are protected physically and electronically. Any connection between you and peymynt is protected by 256-bit SSL encryption. peymynt is a PCI-DSS Level 1 Service Provider.</p>
                                    </li>
                                    <li class=" my-2">
                                        <h5 class="pb-1">Do I need to install any software?</h5>
                                        <p>peymynt is 100% web-based, so you just need an internet connection and browser.</p>
                                        <p>You can, however, download and install our mobile invoicing and receipt scanning apps for iOS and Android.</p>
                                    </li>
                                    <li class=" my-2">
                                        <h5 class="pb-1">Do I need to enter my credit card details to sign up?</h5>
                                        <p>Put your wallet away, you won’t need to enter in any credit card ever, unless you want to use our payroll service. Just create your account and get started for free.</p>
                                    </li>
                                    <li class=" my-2">
                                        <h5 class="pb-1">Is peymynt compatible with Mac or PC?</h5>
                                        <p>peymynt works on both Mac and PC. We also have free iOS and Android apps for invoicing and receipts.</p>
                                    </li>
                                    <li class=" my-2">
                                        <h5 class="pb-1">Can I set different account privileges for employees or my accountant?</h5>
                                        <p>Yes! peymynt makes it easy to let other people help with your accounting. You can grant access to a trusted individual—an accountant, bookkeeper, tax preparer or business partner, for example—by inviting that person to be a collaborator. See our step-by-step guide on how to invite collaborators <a href="https://support.peymyntapps.com/hc/en-us/articles/208621236" target="_blank" rel="noreferrer noopener">here</a>.</p>
                                    </li>
                                    <li class=" my-2">
                                        <h5 class="pb-1">Can I import my data from other accounting apps like Quickbooks?</h5>
                                        <p>Yes, switching is easy! See our step-by-step guide on how to <a href="#" target="_blank" rel="noreferrer noopener">make the switch here.</a></p>
                                    </li>
                                    <li class=" my-2">
                                        <h5 class="pb-1">Do you provide support?</h5>
                                        <p>Yes! We’re ready to answer all your questions with email support for all software (invoicing, accounting and receipt scanning). Live chat support is available for our paid financial services (Payments and Payroll).</p>
                                    </li>
                                </ul>
                            </div>
                        </div>



                    </div>
                    <!-- Accordion Body / End -->
                </div>
                <!-- Accordion Item / End -->


            </div>

        </div>




        <div class="module-type-onewave  " id="onewave-399">
            <div class="module">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center module__header">
                            <h2>Powerful accounting, and more!</h2>
                            <p>Accounting is great, but it’s even greater when used with the rest of peymynt.</p>
                        </div>
                    </div>
                    <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/One_Wave_medium.png" width="961" alt="Screenshot of the peymynt Suite" title="Screenshot of the Wave Suite">
                    <p class="pt-7"> <a class="btn btn-primary" href="https://www.waveapps.com/onewave">Learn more about peymynt’s products</a> </p>
                </div>
            </div>
        </div>
    </main>


{% endblock %}


