{% extends 'front/page-front.html.twig' %}


{% block body %}


    <div class="photo-section" data-background-image="{{ asset('assets/images/section-background.jpg') }}" style="background-image: url({{ asset('assets/images/section-background.jpg') }})">

        <!-- Infobox -->

        <div class="text-content white-font">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <h2>We're changing the way millions of small businesses manage their finances</h2>
                        <div class="container d-none d-md-block">
                            <div class="page-subnavigation py-4 padding-top-30 ">
                                <a class="button gray" href="#subnavigation-393"> About </a>
                                <a class="button gray" href="#subnavigation-394"> The team </a>
                                <a class="button gray" href="#subnavigation-395"> The board </a>
                                <a class="button" href="#subnavigation-397"> Careers </a>
                                <a class="button gray" href="#subnavigation-397"> Contact us </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Infobox / End -->

    </div>

    <!-- Page Content
  ================================================== -->
    <main role="main">
        <div class="module-type-contentGrid  " id="contentGrid-1992">
            <div class="">
                <div class="module  container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center  module__header">
                            <h2>We want everyone who works at Wave to do the best work of their careers</h2>
                        </div>
                    </div>
                    <div class="row align-items-center ">
                        <div class="col-md-6 px-lg-5">
                            <h4>We invest in our employees</h4>
                            <p>Career, leadership, and personal development are as much a part of our culture as our flexible working hours. We constantly invest in our people, because personal growth is critical to our success.</p>
                            <h4>Every single person plays a key role</h4>
                            <p>Everyone at Wave has the ability to make a real difference, feel appreciated, and be recognized. A strong sense of purpose leads to high engagement.</p>
                            <h4>Autonomy and responsibility</h4>
                            <p>We believe that our employees are the very best at what they do, so we empower them to go ahead and do it well.</p>
                        </div>
                        <div class="col-md-6 px-lg-5 order-first text-center">
                            <div class="mb-5 image-container" data-mh="image" style=""> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/about/spot_careers_best_work.jpg" width="381" alt="Man and woman looking at a screen" title="Man and woman looking at a screen"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-type-imageGrid  " id="imageGrid-1998">
            <div class="module module__image-grid container">
                <div class="row">
                    <div class="col-md-8 ">
                        <div class="module__image-grid__image bg-cover" style="background-image:url(https://dwdqz3611m4qq.cloudfront.net/about/About_us_careers_grid01.jpg);"></div>
                    </div>
                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="module__image-grid__image bg-cover" style="background-image:url(https://dwdqz3611m4qq.cloudfront.net/about/About_us_careers_grid02.jpg);"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-type-contentGrid  " id="contentGrid-1999">
            <div class="">
                <div class="module  container">
                    <div class="row align-items-center ">
                        <div class="col-md-6 px-lg-5">
                            <h4>Trust and transparency</h4>
                            <p>No secrets here. We discuss financial data, performance metrics, and board-level business performance information with all employees. Trust and transparency are key values that help the team know what we’re working toward.</p>
                            <h4>Brains and teamwork</h4>
                            <p>We’re a team of smart, ambitious, creative, focused, inspired, and inspiring lifelong learners who love to push boundaries, look at challenging problems from different perspectives, and persevere to find unexpected solutions. We’re super supportive and collaborative, and find competition outside of the office, not within. Egos are checked at the door.</p>
                            <h4>We're friends inside and outside the office</h4>
                            <p>Bottom line—we’ve built an unrivalled great culture by carefully selecting a team that we want to spend time with... at work, and after work, too.</p>
                        </div>
                        <div class="col-md-6 px-lg-5 order-first order-md-1 text-center">
                            <div class="mb-5 image-container" data-mh="image" style=""> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/about/spot_careers_friends.jpg" width="381" alt="Spot Careers Friends" title="Spot Careers Friends"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-type-customContent section gray" id="customContent-2002">
            <div class="module bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center module__header">
                            <h2 class="text-center">Current opportunities</h2>
                        </div>
                    </div>
                    <div id="BambooHR">

                        <div id="BambooHR-ATS">
                            <div class="BambooHR-ATS-board">

                                <ul class="BambooHR-ATS-Department-List">
                                    <li class="BambooHR-ATS-Department-Item">
                                        <div id="department_" class="BambooHR-ATS-Department-Header"> </div>
                                        <ul class="BambooHR-ATS-Jobs-List">
                                            <li class="BambooHR-ATS-Jobs-Item"><a href="#">Accounting Coach</a><span class="BambooHR-ATS-Location">Toronto, Ontario</span></li>
                                            <li class="BambooHR-ATS-Jobs-Item"><a href="#">Customer Support Specialist</a><span class="BambooHR-ATS-Location">Toronto, Ontario</span></li>
                                            <li class="BambooHR-ATS-Jobs-Item"><a href="#">Director, Financial Services Operations</a><span class="BambooHR-ATS-Location">Toronto, Ontario</span></li>
                                            <li class="BambooHR-ATS-Jobs-Item"><a href="#">Product Designer</a><span class="BambooHR-ATS-Location">Toronto, Ontario</span></li>
                                            <li class="BambooHR-ATS-Jobs-Item"><a href="#">Risk Analyst</a><span class="BambooHR-ATS-Location">Toronto, Ontario</span></li>
                                            <li class="BambooHR-ATS-Jobs-Item"><a href="#">Senior Software Engineer</a><span class="BambooHR-ATS-Location">Toronto, Ontario</span></li>
                                            <li class="BambooHR-ATS-Jobs-Item"><a href="#">Software Engineer - Ruby</a><span class="BambooHR-ATS-Location">Toronto, Ontario</span></li>
                                            <li class="BambooHR-ATS-Jobs-Item"><a href="#">Sr. Data Analyst - Product</a><span class="BambooHR-ATS-Location">Toronto, Ontario</span></li>
                                            <li class="BambooHR-ATS-Jobs-Item"><a href="#">Team Lead, Engineering</a><span class="BambooHR-ATS-Location">Toronto, Ontario</span></li>
                                            <li class="BambooHR-ATS-Jobs-Item"><a href="#">Want to work at Wave? - other positions apply here</a><span class="BambooHR-ATS-Location">Toronto, Ontario</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-type-contentGrid  " id="contentGrid-2005">
            <div class="">
                <div class="module  container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center  module__header">
                            <h2>Everything you need to do your job right</h2>
                        </div>
                    </div>
                    <div class="row align-items-center ">
                        <div class="col-md-6 px-lg-5">
                            <ul class="list-2">
                                <li>Full benefits package starting day one</li>
                                <li>Annual wellness allowance</li>
                                <li>Education and conference allowance</li>
                                <li>Flexible working hours</li>
                                <li>Stock options</li>
                                <li>Game room</li>
                                <li>Yoga studio</li>
                                <li>Dog-friendly office</li>
                                <li>Career development and mentorship opportunities</li>
                                <li>Fully loaded kitchens: snacks/fruit/drinks/beer</li>
                                <li>Comfortable office with room to hang out socially</li>
                                <li>Glorious rooftop patio with a view of downtown Toronto</li>
                            </ul>
                        </div>
                        <div class="col-md-6 px-lg-5 order-first text-center">
                            <div class="mb-5 image-container" data-mh="image" style=""> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/spot_relaxed.png" width="380" alt="Spot Relaxed" title="Spot Relaxed"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-type-stats  " id="stats-2008">
            <div class="module container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 text-center module__header">
                        <h2>Sweet office, sweet location</h2>
                        <p>Wave is located in Toronto, in the heart of Leslieville in the historic Wrigley building (yes, they used to make gum here), just a short hop from Toronto’s downtown core and booming tech scene.</p>
                    </div>
                </div>
                <div class="module__stats">
                    <div class="p-4 row">
                        <div class="module__stats__card col-md-6 col-lg-4 text-center mb-lg-0 pb-5 pb-md-0">
                            <div class="module__stats__headline gradient-text-blue-purple">97</div>
                            <div>walk score</div>
                        </div>
                        <div class="module__stats__card col-md-6 col-lg-4 text-center mb-lg-0 pb-5 pb-md-0">
                            <div class="module__stats__headline gradient-text-blue-purple">94</div>
                            <div>transit score</div>
                        </div>
                        <div class="module__stats__card col-md-6 col-lg-4 text-center mb-lg-0 pb-5 pb-md-0">
                            <div class="module__stats__headline gradient-text-blue-purple">93</div>
                            <div>bike score</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-type-awards  " id="awards-2010">
            <div class="module container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 text-center module__header">
                        <h2 class="text-center">See what people love about Wave on Glassdoor</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="text-center"> <a href="#" target="blank"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/about/awards/Glassdoor.png" width="146" alt="Glassdoor" title="Glassdoor"> </a> </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}


