{% extends 'front/page-front.html.twig' %}
{% block title %} Peymynt - Invoices {% endblock %}

{% block body %}




    <!-- Page Content
  ================================================== -->
    <main role="main">

        <header class="page header color-1 overlay alpha-8 image-background cover overlay gradient gradient-43" style="background-image: url('img/bg/waves.jpg')">
            <div class="divider-shape">
                <!-- waves divider -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" class="shape-waves" style="left: 0; transform: rotate3d(0,1,0,180deg);">
                    <path class="shape-fill shape-fill-1" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
                </svg>
            </div>
            <div class="container" style="">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="regular display-4 color-1 mb-4">INVOICING</h1>
                        <p class="lead color-1">Invoicing has never been easier</p>
                        <p class="lead color-1">Explore customizable templates. It’s simple. It’s free.</p>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
        <div class="section-heading text-center">
            <h2 class="mb-2">Create professional invoices</h2>
            <p class="lead color-2">
            <div class="row justify-content-md-center">
                <div class="col-sm-12 col-md-auto mb-1 mb-md-0 text-center"> <i class="icon-material-outline-check"></i> Quick and easy </div>
                <div class="col-sm-12 col-md-auto mb-1 mb-md-0 text-center"> <i class="icon-material-outline-check"></i> Customizable </div>
                <div class="col-sm-12 col-md-auto mb-1 mb-md-0 text-center"> <i class="icon-material-outline-check"></i> Unlimited </div>
            </div>
            <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/invoices_showcase.jpg" width="993" alt="Our invoice templates" title="Our invoice templates">
            </p>
        </div>
            </div>
        </section>

        <div class="module-type-contentGrid  " id="contentGrid-84">
            <div class="">
                <div class="module  container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center  module__header">
                            <h2>Look professional and save time</h2>
                            <p>Simple-to-use, customizable invoice templates.</p>
                        </div>
                    </div>
                    <div class="row align-items-center ">
                        <div class="col-md-6 px-lg-5">
                            <h3>Create invoices quickly</h3>
                            <p>Every invoice paid means more revenue coming into your business. Create and send professional invoices to your customers in seconds. <br>
                            </p>
                            <h3>Recurring billing for repeat customers</h3>
                            <p>Get paid on time, every time. Set up recurring invoices and automatic credit card payments for your repeat customers and stop chasing payments. Switch between automatic and manual billing whenever you want. <a href="/recurring-billing">Learn more about recurring billing.</a></p>
                            <h3>Your bookkeeping is already done</h3>
                            <p>All your invoicing and payment information automatically syncs with the free accounting software in your peymynt account. </p>
                        </div>
                        <div class="col-md-6 px-lg-5 order-first text-center">
                            <div class="mb-5 image-container" data-mh="image" style=""> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/invoicing_M_professional.jpg" width="534" alt="Customize your invoices" title="Customize your invoices"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-type-contentGrid  " id="contentGrid-417">
            <div class="">
                <div class="module  container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center  module__header">
                            <h2>Get paid faster</h2>
                            <p>Reliable, timely payments mean better cash flow.</p>
                        </div>
                    </div>
                    <div class="row align-items-center ">
                        <div class="col-md-6 px-lg-5">
                            <h3>Invoice on the go</h3>
                            <p>Send invoices whenever and wherever you want with peymynt’s <a href="/invoice-mobile">free apps</a> for iOS and Android.</p>
                            <h3>Instant notification<br>
                            </h3>
                            <p>Know when an invoice is viewed, becomes due, or gets paid, so you can take the right actions to manage your cash flow. Set up invoice reminders to automatically email your customers when payment is due.</p>
                            <h3>Accept payments online</h3>
                            <p>Get paid in as fast as 2 business days, enhance your brand, and look more professional when you enable Payments by peymynt. Accept credit cards and bank payments for as little as 1% per transaction. </p>
                        </div>
                        <div class="col-md-6 px-lg-5 order-first order-md-1 text-center">
                            <div class="mb-5 image-container" data-mh="image" style=""> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/invoicing_M_Faster.jpg" width="420" alt="Invoice on our mobile app" title="Invoice on our mobile app"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-type-testimonial  " id="testimonial-192">
            <div class="module text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1"> <span class="embellishment--up-down"></span>
                            <div class="h3 semibold mt-4"><i>"This app is exactly what I’ve been waiting for. I’ve tried all of the other invoicing apps, and none come close to the overall functionality and polish that peymynt has put into [it]."</i></div>
                            <div class="mb-4"><small>Wwfaddict99 on the App Store</small></div>
                            <span class="embellishment--gradient"></span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="accordion js-accordion">

                <!-- Accordion Item -->
                <div class="accordion__item js-accordion-item active">
                    <div class="accordion-header js-accordion-header">See all invoicing features</div>

                    <!-- Accordtion Body -->
                    <div class="accordion-body js-accordion-body" style="display: none;">

                        <!-- Accordion Content -->
                        <div class="accordion-body__contents">
                            <div class="row">
                                <div class="col-sm-12 col-lg-6 col-xl-6 pb-4 px-0">
                                    <ul class="list-2">
                                        <li>Invoice in any currency</li>
                                        <li>Quickly send estimates and turn them into invoices upon approval</li>
                                        <li>Send statements to follow up on overdue customer accounts</li>
                                        <li><a href="#"> Accept credit cards</a> and <a href="#">bank payments</a> to get paid automatically</li>
                                        <li>Set up automatic payments for <a href="#">recurring invoices</a></li>
                                        <li>Personalize your invoices with a choice of professional invoice templates</li>
                                        <li>Customize: add your logo and colors</li>
                                        <li>Make invoices perfect with customizable columns</li>
                                        <li>Organize the content of your invoices with drag-and-drop line items</li>
                                        <li>Automatic and seamless accounting integration</li>

                                    </ul>
                                </div>
                                <div class="col-sm-12 col-lg-6 col-xl-6 pb-4 px-0">
                                    <ul class="list-2">
                                        <li>iOS and Android apps for sending invoices on the go</li>
                                        <li>Send using peymynt, Gmail, Outlook and more</li>
                                        <li>Know when your invoices are viewed</li>
                                        <li>Set automatic payment reminders to nudge your customer to pay on time</li>
                                        <li>Easy-to-understand cash flow insights</li>
                                        <li>Duplicate invoices to save time when billing</li>
                                        <li>Automatic sales tax calculations</li>
                                        <li>Send professional payment receipts</li>
                                        <li>Automatic backup in the cloud</li>
                                        <li>Customizable payment terms</li>
                                        <li>Track payments, partial payments, overdue invoices</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion Body / End -->
                </div>

                <!-- Accordion Item / End -->
                <!-- Accordion Item -->
                <div class="accordion__item js-accordion-item ">
                    <div class="accordion-header js-accordion-header">Helpful resources</div>

                    <!-- Accordtion Body -->
                    <div class="accordion-body js-accordion-body" style="display: block;">

                        <!-- Accordion Content -->
                        <div class="accordion-body__contents">
                            <div id="collapsible-content-396" class="collapse" aria-labelledby="collapsible-content-396" style="">
                                <div class="module container" style="">
                                    <div class="row  mr-1 mr-md-4" style="">


                                        <div class="col-md-4  position-relative mb-4" style="">

                                            <div class="mb-3 image-container" data-mh="image" style="">
                                                <img class="" src="https://dwdqz3611m4qq.cloudfront.net/blog/tech-influencer-steve-dotto_2x.jpg" width="100%" alt="Steve Dotto's face" title="Steve Dotto's face">

                                            </div>


                                            <h2 data-mh="headline"  class="padding-top-20 padding-bottom-20">Tech influencer Steve Dotto reviews Invoice by peymynt</h2>

                                            <div data-mh="description" style="">Learn how a veteran tech expert uses peymynt’s invoicing tool for his businesses to increase his productivity in this informative video.</div>


                                        </div>


                                        <div class="col-md-4  position-relative mb-4" style="">

                                            <div class="mb-3 image-container" data-mh="image" style="">
                                                <img class="" src="https://dwdqz3611m4qq.cloudfront.net/blog/new-features-for-mobile-invoicing_2x.jpg" width="100%" alt="Decorative abstract dots" title="Decorative abstract dots">

                                            </div>


                                            <h2 data-mh="headline"  class="padding-top-20 padding-bottom-20">New features for mobile invoicing</h2>

                                            <div data-mh="description" style="">The Invoice by peymynt app now includes address auto-completion, contact importin, and easy invoice duplication.</div>


                                        </div>


                                        <div class="col-md-4  position-relative mb-4" style="">

                                            <div class="mb-3 image-container" data-mh="image" style="">
                                                <img class="" src="https://dwdqz3611m4qq.cloudfront.net/blog/geek-girls-and-wave_2x.jpg" width="100%" alt="Desk with computer and mug" title="Desk with computer and mug">

                                            </div>


                                            <h2 data-mh="headline"  class="padding-top-20 padding-bottom-20">Geek Girls + peymynt: Technology Meets Transparency</h2>

                                            <div data-mh="description" style="">Lisa Smith loves how easy it is to customize peymynt’s invoices so her customers know exactly what they’re paying for. Read her story to find out why.</div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion Body / End -->
                </div>
                <!-- Accordion Item / End -->

                <!-- Accordion Item -->
                <div class="accordion__item js-accordion-item">
                    <div class="accordion-header js-accordion-header">Frequently asked questions</div>

                    <!-- Accordtion Body -->
                    <div class="accordion-body js-accordion-body" style="display: none;">

                        <!-- Accordion Content -->
                        <div class="accordion-body__contents">
                            <div class="col-sm-12 pb-4 px-0">
                                <ul class="list-2">
                                    <li class=" my-2">
                                        <h5 class="pb-1">Is your software actually free?</h5>
                                        <p>Yes really, no tricks! Our software is 100% free, no trials, no limitations, and no hidden fees. Use it as much as you want, for as long as you want, and we won’t charge a cent. Our free software includes invoicing, accounting, and receipt scanning.</p>
                                    </li>
                                    <li class=" my-2">
                                        <h5 class="pb-1">Is my data safe?</h5>
                                        <p>Completely safe. Our servers are protected physically and electronically. Any connection between you and peymynt is protected by 256-bit SSL encryption. peymynt is a PCI-DSS Level 1 Service Provider.</p>
                                    </li>
                                    <li class=" my-2">
                                        <h5 class="pb-1">Do I need to install any software?</h5>
                                        <p>peymynt is 100% web-based, so you just need an internet connection and browser.</p>
                                        <p>You can, however, download and install our mobile invoicing and receipt scanning apps for iOS and Android.</p>
                                    </li>
                                    <li class=" my-2">
                                        <h5 class="pb-1">Do I need to enter my credit card details to sign up?</h5>
                                        <p>Put your wallet away, you won’t need to enter in any credit card ever, unless you want to use our payroll service. Just create your account and get started for free.</p>
                                    </li>
                                    <li class=" my-2">
                                        <h5 class="pb-1">Is peymynt compatible with Mac or PC?</h5>
                                        <p>peymynt works on both Mac and PC. We also have free iOS and Android apps for invoicing and receipts.</p>
                                    </li>
                                    <li class=" my-2">
                                        <h5 class="pb-1">Can I set different account privileges for employees or my accountant?</h5>
                                        <p>Yes! peymynt makes it easy to let other people help with your accounting. You can grant access to a trusted individual—an accountant, bookkeeper, tax preparer or business partner, for example—by inviting that person to be a collaborator. See our step-by-step guide on how to invite collaborators <a href="https://support.peymyntapps.com/hc/en-us/articles/208621236" target="_blank" rel="noreferrer noopener">here</a>.</p>
                                    </li>
                                    <li class=" my-2">
                                        <h5 class="pb-1">Can I import my data from other accounting apps like Quickbooks?</h5>
                                        <p>Yes, switching is easy! See our step-by-step guide on how to <a href="#" target="_blank" rel="noreferrer noopener">make the switch here.</a></p>
                                    </li>
                                    <li class=" my-2">
                                        <h5 class="pb-1">Do you provide support?</h5>
                                        <p>Yes! We’re ready to answer all your questions with email support for all software (invoicing, accounting and receipt scanning). Live chat support is available for our paid financial services (Payments and Payroll).</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion Body / End -->
                </div>
                <!-- Accordion Item / End -->

            </div>
        </div>
        <div class="module-type-onewave  " id="onewave-197">




            <div class="module">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center module__header">
                            <h2>Professional invoicing, but that’s not all!</h2>
                            <p>Invoicing is great, but it’s even greater when used with the rest of peymynt.</p>
                        </div>
                    </div>
                    <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/One_Wave_medium.png" width="961" alt="Screenshot of the Wave Suite" title="Screenshot of the peymynt Suite">
                    <p class="pt-7">
                        <a class="btn btn-primary" href="https://www.peymyntapps.com/onewave">Learn more about peymynt's products</a>
                    </p>
                </div>
            </div>



        </div>
    </main>


{% endblock %}


