{% extends 'front/page-front.html.twig' %}
{% block title %} Peymynt - Receipts {% endblock %}

{% block body %}



    <!-- Page Content
  ================================================== -->
    <main role="main">


        <header class="page header color-1 overlay alpha-8 image-background cover overlay gradient gradient-43" style="background-image: url('img/bg/waves.jpg')">
            <div class="divider-shape">
                <!-- waves divider -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" class="shape-waves" style="left: 0; transform: rotate3d(0,1,0,180deg);">
                    <path class="shape-fill shape-fill-1" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
                </svg>
            </div>
            <div class="container" style="">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="regular display-4 color-1 mb-4">RECEIPTS BY PEYMYNT</h1>
                        <p class="lead color-1">Scan receipts effortlessly. Anytime, anywhere.</p>
                        <p class="lead color-1">Eliminate manual expense tracking with peymynt’s free mobile app.</p>
                    </div>
                </div>
            </div>
        </header>

        <section>
            <div class="container">
                <div class="section-heading text-center">
                    <h2 class="mb-2">Convenient mobile expense tracking</h2>
                    <p class="lead color-2"><div class="row justify-content-md-center">
                        <div class="col-sm-12 col-md-auto mb-1 mb-md-0 text-center"> <i class="icon-material-outline-check"></i> Scan receipts on the go </div>
                        <div class="col-sm-12 col-md-auto mb-1 mb-md-0 text-center"> <i class="icon-material-outline-check"></i> Syncs with your peymynt account </div>
                        <div class="col-sm-12 col-md-auto mb-1 mb-md-0 text-center"> <i class="icon-material-outline-check"></i> Say goodbye to paper receipts and spreadsheets </div>
                    </div>
                    <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/receipts_main_graphic.png" width="990" alt="Receipts Showcase" title="Receipts Showcase">
                    </p>
                </div>
            </div>
        </section>

        <div class="module-type-contentGrid  " id="contentGrid-1908">
            <div class="">
                <div class="module  container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center  module__header">
                            <h2>How it works</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center  px-5 pt-5">
                            <div class="mb-5 image-container" data-mh="image" style="height: 100px;"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/receipts_how_it_works_1.png" width="115" alt="Receipts How It Works 1" title="Receipts How It Works 1"> </div>
                            <h3 data-mh="headline" style="height: 60px;"> Scan receipts anywhere </h3>
                            <div data-mh="description" style="height: 72px;">
                                <p>Simply snap a picture of your receipt using peymynt’s mobile receipt scanning app.</p>
                            </div>
                        </div>
                        <div class="col-md-4 text-center  px-5 pt-5">
                            <div class="mb-5 image-container" data-mh="image" style="height: 100px;"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/receipts_how_it_works_2.png" width="100" alt="Receipts How It Works 2" title="Receipts How It Works 2"> </div>
                            <h3 data-mh="headline" style="height: 60px;"> Review the information </h3>
                            <div data-mh="description" style="height: 72px;">
                                <p>Review the receipt information before approving it. </p>
                            </div>
                        </div>
                        <div class="col-md-4 text-center  px-5 pt-5">
                            <div class="mb-5 image-container" data-mh="image" style="height: 100px;"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/receipts_how_it_works_3.png" width="100" alt="Receipts How It Works 3" title="Receipts How It Works 3"> </div>
                            <h3 data-mh="headline" style="height: 60px;"> Sync and track your receipts </h3>
                            <div data-mh="description" style="height: 72px;">
                                <p>Receipts sync seamlessly with your peymynt account, so you’ll always have an accurate picture of your business expenses.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-type-contentGrid  " id="contentGrid-1918">
            <div class="">
                <div class="module  container">
                    <div class="row align-items-center ">
                        <div class="col-md-6 px-lg-5">
                            <h2> Scan receipts offline </h2>
                            <p>Receipts by peymynt works even when it’s not connected to the Internet so you can scan receipts anytime, anywhere. The app syncs automatically the next time your device is online.</p>
                        </div>
                        <div class="col-md-6 px-lg-5 order-first text-center">
                            <div class="mb-5 image-container" data-mh="image" style=""> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/receipts_M_scan_offline.jpg" width="514" alt="Receipts M Scan Offline" title="Receipts M Scan Offline"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-type-contentGrid  " id="contentGrid-1922">
            <div class="">
                <div class="module  container">
                    <div class="row align-items-center ">
                        <div class="col-md-6 px-lg-5">
                            <h2> Have receipts in your inbox? </h2>
                            <p>If you have a receipt sitting in your inbox, you can email it to receipts@peymyntapps.com. The information will flow automatically into your peymynt account.</p>
                        </div>
                        <div class="col-md-6 px-lg-5 order-first order-md-1 text-center">
                            <div class="mb-5 image-container" data-mh="image" style=""> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/receipts/receipts_M_inbox.png" width="490" alt="Receipts M Inbox" title="Receipts M Inbox"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-type-testimonial  " id="testimonial-1965">
            <div class="module text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1"> <span class="embellishment--up-down"></span>
                            <div class="h1 semibold mt-4"><h2><i>“Peymynt totally rocks! I can't imagine using anything else! I've got two businesses I run through peymynt. The best feature is the receipts app!”</i></h2></div>
                            <div class="mb-4"><small><strong>FlyTJ Aviation</strong></small></div>
                            <span class="embellishment--gradient"></span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-type-resources  " id="resources-3111">
            <div class="module container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 text-center module__header">
                        <h1>Helpful resources</h1>
                    </div>
                </div>
                <div class="row  ">
                    <div class="col-md-4  position-relative mb-4">
                        <div class="mb-3 image-container" data-mh="image"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/blog/scan-business-receipts-effortlessly_2x.jpg" width="100%" alt="A hand holding an iphone" title="A hand holding an iphone"> </div>
                        <h2 data-mh="headline" class="padding-bottom-20 padding-top-20" >Scan business receipts effortlessly</h2>
                        <div data-mh="description">Here’s how Receipts by peymynt makes it easier to track your business expenses, at home and on the go.</div>
                    </div>
                    <div class="col-md-4  position-relative mb-4">
                        <div class="mb-3 image-container" data-mh="image"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/blog/five-tips-to-get-your-books-in-order.jpg" width="100%" alt="Five Tips To Get Your Books In Order" title="Five Tips To Get Your Books In Order"> </div>
                        <h2 data-mh="headline" class="padding-bottom-20 padding-top-20">Five tips to get your books under control fast</h2>
                        <div data-mh="description">Lower your stress, build your confidence, and set yourself up for tax time with these five tips.</div>
                    </div>
                    <div class="col-md-4  position-relative mb-4">
                        <div class="mb-3 image-container" data-mh="image"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/blog/fitness4youth-and-wave_2x.jpg" width="100%" alt="Fitness4Youth owner at work" title="Fitness4Youth owner at work"> </div>
                        <h2 data-mh="headline" class="padding-bottom-20 padding-top-20">Fitness4Youth + peymynt: passion meets productivity</h2>
                        <div data-mh="description">Shyanne McPherson loves using peymynt’s receipt scanning app to track her business expenses on the go. Read her story to find out why.</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


