{% extends 'front/page-front.html.twig' %}


{% block body %}


    <div class="photo-section" data-background-image="{{ asset('assets/images/header-main-bg.jpg') }}" style="background-image: url({{ asset('assets/images/header-main-bg.jpg') }})">

        <!-- Infobox -->

        <div class="text-content white-font">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h3>SUCCESS STORIES</h3>
                        <h2>Real stories of grit, passion, and success</h2>
                        <p>These small business owners came out on top—with a little help from Wave along the way.</p>

                    </div>
                </div>
            </div>
        </div>

        <!-- Infobox / End -->

    </div>

    <!-- Page Content
  ================================================== -->
    <main role="main">
        <div class="bg-light module">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 text-center module__header"> </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 content-card pb-4"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/meta-images/success_steelandoak.jpg" width="600" alt="Success Steel And Oak 1200X630" title="Success Steel And Oak 1200X630">
                        <h2 class="padding-top-15 padding-bottom-15">Steel &amp; Oak Designs + Wave: artistry meets adaptability</h2>
                        <div class="pb-2"></div>
                        <p>Learn how Wave’s free accounting software helps Steel &amp; Oak Designs stay in control of their business with competing priorities and an unpredictable cash flow.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 content-card pb-4"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/meta-images/connect-change-1200.jpg" width="600" alt="Connect Change 1200" title="Connect Change 1200">
                        <h2 class="padding-top-15 padding-bottom-15">Change Connect + Wave: strategy meets simplicity</h2>
                        <div class="pb-2"></div>
                        <p>Learn how Agnes uses Wave to build stronger relationships with her clients and keep her sales and expenses organized.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 content-card pb-4"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/meta-images/success_stories_geekgirls_1200.jpg" width="600" alt="Success Stories Geekgirls 1200" title="Success Stories Geekgirls 1200">
                        <h2 class="padding-top-15 padding-bottom-15">Geek Girls in Vegas + Wave: technology meets transparency</h2>
                        <div class="pb-2"></div>
                        <p>Learn how Lisa uses Wave to take care of the financial burden of running a business, so she can focus on better serving her customers.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 content-card pb-4"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/meta-images/happy_pops_thumb.jpg" width="540" alt="Happy Pops Thumb" title="Happy Pops Thumb">
                        <h2 class="padding-top-15 padding-bottom-15">Happy Pops + Wave: sweetness meets sophistication</h2>
                        <div class="pb-2"></div>
                        <p>Learn how Wave’s intuitive design and mobile apps help Leila stay on top of her business while on-the-go.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 content-card pb-4"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/meta-images/Pomarosa_focus.jpg" width="540" alt="Pomarosa Focus" title="Pomarosa Focus">
                        <h2 class="padding-top-15 padding-bottom-15">Pomarosa + Wave: chaos meets comfort</h2>
                        <div class="pb-2"></div>
                        <p>Learn how Vivian and Luis made their dream business a reality and found comfort in Wave’s simplified and automated payroll system.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 content-card pb-4"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/meta-images/shyanne-mcpherson_fit_share.jpg" width="600" alt="Shyanne Mcpherson Share" title="Shyanne Mcpherson Share">
                        <h2 class="padding-top-15 padding-bottom-15">Fitness4Youth + Wave: passion meets productivity</h2>
                        <div class="pb-2"></div>
                        <p>Shyanne went on a journey from self-doubt to success, as she turned her passion for youth fitness into a thriving company with big dreams for the future.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 content-card pb-4"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/meta-images/mike-reisacher_share.jpg" width="600" alt="Mike Reisacher Share" title="Mike Reisacher Share">
                        <h2 class="padding-top-15 padding-bottom-15">Mike Reisacher Productions + Wave: inspiration meets integration</h2>
                        <div class="pb-2"></div>
                        <p>Mike was a reluctant entrepreneur, but he was driven to make it in the film industry—even if it took him out of his comfort zone.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 content-card pb-4"> <img class="" src="https://dwdqz3611m4qq.cloudfront.net/meta-images/michael-gibben_tutor_share.jpg" width="600" alt="Michael Gibben Share" title="Michael Gibben Share">
                        <h2 class="padding-top-15 padding-bottom-15">I.M. Success Tutoring + Wave: education meets efficiency</h2>
                        <div class="pb-2"></div>
                        <p>Michael built a successful business from his passion for education, and learned some big lessons along the way.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}


