<!-- Footer -->

<footer class="main-footer">
    <div class="container-fluid d-flex small">
			<span>© 2018-2019.
                <strong>Peymynt Financial Inc.</strong>. All Rights Reserved.
			</span>
        <span class="color-2"> v1.0</span>


    </div>
</footer>

<!-- Footer / End -->