{% extends 'page-secure.html.twig' %}



{% block body %}


    <!-- Dashboard Headline -->
    <div class="dashboard-headline">
        <h3>Profile</h3>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div>
                {{ include('user_settings/settings-menu.html.twig') }}
            </div>
        </div>
        <div class="col-lg-9">



            <div id="test1" class="dashboard-box margin-top-0">

                <!-- Headline -->
                <div class="headline">
                    <h3><i class="fa fa-2x fa-lock"></i> Password &amp; Security</h3>
                </div>

                <div class="content with-padding">
                        <form method="post" action="{{ path('app_user_settings.change_password') }}" id="changePasswordForm" name="changePasswordForm">
                    <div class="row">
                        <div class="col-xl-12">

                            {% if app.session.flashBag.has('success') %}
                                <div class="notification success closeable">
                                    {% for msg in app.session.flashBag.get('success') %}
                                        <p>{{ msg }}</p>
                                    {% endfor %}
                                    <a class="close"></a>
                                </div>
                            {% endif %}
                            {% if errors %}
                                <div class="notification error closeable">
                                    <ul style="margin-bottom:0px;">
                                        {% for error in errors %}
                                            <li style="color: darkred">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    <a class="close"></a>
                                </div>
                            {% endif %}

                        </div>
                        <div class="col-xl-4">
                            <div class="submit-field">
                                <h5>Current Password</h5>
                                <input type="password" name="changePasswordForm[o_pass]" class="with-border" />
                            </div>
                        </div>

                        <div class="col-xl-4">
                            <div class="submit-field">
                                <h5>New Password</h5>
                                <input type="password" name="changePasswordForm[n_pass]" class="with-border" />

                            </div>
                        </div>

                        <div class="col-xl-4">
                            <div class="submit-field">
                                <h5>Repeat New Password</h5>
                                <input type="password" name="changePasswordForm[cn_pass]" class="with-border" />
                            </div>
                        </div>

                        {#<div class="col-xl-12">#}
                            {#<div class="checkbox">#}
                                {#<input type="checkbox" id="two-step" checked="">#}
                                {#<label for="two-step"><span class="checkbox-icon"></span> Enable Two-Step Verification via Email</label>#}
                            {#</div>#}
                        {#</div>#}

                        <div class="col-xl-12">
                            <input type="submit" class="btn btn-4 margin-top-30" value="Save Changes">
                        </div>
                    </div>

                    </form>

                </div>
            </div>






        </div>
    </div>


{% endblock %}